header{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    text-align: center;
    margin: 5% 25%;
    background-color: rgba(0, 100, 0, 0.9);
    border-radius: 10px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    font-size: 1.1em;
}

main{
    background-color: aquamarine;
}

h1{
    text-align: center;
}

footer{
    display: flex;
    text-align: center;
    background-color: gray;
}

footer > div{
    flex: 1;
}

@media screen and (max-width: 430px ) {
    footer{
        display: grid;
        text-align: center;
    }
    
    footer > div{
        width: 100%;
    }
}
