header {
    display: flex;
    justify-content: center;/*horizontally centered*/
    align-items: center;/*horizontally centered*/
}

header > img{
    animation: slide_for_me 10s ease-in-out;
}

@keyframes slide_for_me{
    50%{
        content: url("image_folder/logo.png");/*changes the image to logo.png*/
    }
    75%{
        width: 200px;/*cexpands the width to 200px*/
    }
}

.promo{
    text-align: center;
    border-radius: 5%;
}

#promo_banner{
    width: 100%;
    display: block;
}

main{
    background-color: aquamarine;
}

main  > .container{
    border: 2px solid green;
}


nav ul{
    background-color:  green;
    list-style: none;/*Eliminates the list dot icon*/
    text-align: center;
    margin: 5% 35%;
    padding: 1% 1%;
    border-radius: 25px;

}

nav li{
    display: inline-block;
    margin: 0 2%;
}

 li a{
    color: white;
    text-decoration: none;
}

li a:visited{
    text-decoration: underline;
    font-style: italic;
}

li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 1.1em;
}

.promo > h1, h3{
    margin : 2% 35%;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: black;
    color: rgb(237, 237, 157);
    
    text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 31px #fff,
        0 0 55px rgb(225, 226, 4),
        0 0 91px rgb(225, 226, 4),
        0 0 100px rgb(225, 226, 4),
        0 0 122px rgb(225, 226, 4),
        0 0 140px rgb(225, 226, 4);

}

.promo > h3{
    font-style: italic;
}


h1{
    text-align: center;
    padding-top: 5%;
}

.menu{
    display: flex;
}

section{
    flex: 1;
    background-color: antiquewhite;
    text-align: center;
    margin: 10px 10px;
}

section .foodname{
    text-align: center;
}

section:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 100, 1);
}

#order_button1, #order_button2, #order_button3{
    border-radius: 10px;
}

.order_container{
    display: none;
    text-align: center;
    border: 1px solid;
}

.order_section{
    flex: 1;
    border: 1px solid;
    margin: 10px 5px;
}

form button{
    border-radius: 10px;
}

.order_section:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 100, 1);
}
output, #rice_price, #pizza_price, #falafel_price {
    font-weight: bold;
}


form .close{
    color: rgba(0, 100, 0, 0.5);
    margin-top: -8px;
    margin-right: -90%;
    border-radius: 100px;
}



form .close:hover{
    background-color: 10px solid red;
    border: 2px solid red;
}


input {
    display: block;
    margin: 2% auto;
    border: 2px solid blue;
    border-radius: 5px;
}




@media screen and (max-width: 430px) {
    section {
        display: grid;
        margin: 2% 2%;
        width: 80%;
        border-radius: 2%;
        background-color: aquamarine;
        border: 2px solid;
    }
    .menu{
        display: grid;
        width: 100vw;
    }
    section  img  {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    section .price, .foodname {
        text-align: center;
    }

    .order_container{
        display: grid;
        width: 100vw;
    }

    .order_section{
        display: block;
        width: 89%;
        margin: 2% 2%;
    }

    footer{
        display: grid ;
        grid-template-rows: auto auto;/*two rows 
        of auto sizes where expands proprtional to contents*/ 
        border: 2px solid purple;
        align-items: center;
        text-align: center;
   }

   footer img{
        grid-row: 1;
   }

   footer p{
    grid-row: 2;
   }
    
}

h2{
    text-align: center;
}



button{
    margin: 20px 0;
    color: blueviolet;
}

button:hover{
    background-color: rgba(0, 100, 0, 0.5 );
}


footer{
    background-color: gray;
}


footer{
    display: flex;
    text-align: center;
    align-items: center;/* vertically centered*/
    border: 2px solid green;
}

footer div{
    flex: 1;/*sets both the shrink, base and expansion of both items to equal size*/
}

footer > div{
    border: 2px solid green;
    margin: 1% 1%;/*0.5 for left and right*/

}


.description{
    font-style: italic;
}